<div class="card card-w-title">
  <p-panel header="Asignación de - {{titulo}}">
    <div class="grid p-fluid">
      <div class="col-12 md:col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloForm">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-numero">Número </label><span class="label" style="font-weight: bold; color:red">*</span>
                <app-modal-sodimac-ov-pendiente (eventoAceptar)="onToSelectedOrdenVenta($event)"></app-modal-sodimac-ov-pendiente>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-numOrdenCompra">Número de OC </label><span class="label" style="font-weight: bold; color:red">*</span>
                <div class="p-inputgroup">
                  <input id="float-input-numOrdenCompra" type="text" placeholder="Número de OC" maxlength="100" size="50" formControlName="numOrdenCompra" autocomplete="off" required pInputText readonly="true">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="col-12">
        <div class="card no-margin">
          <div class="col-12 md:col-2">
            <button [disabled]="!modeloForm.valid" pButton type="button" label="{{globalConstants.cAgregar}}" icon="{{globalConstants.icoAgregar}}" (click)="onClickOpenOrdenVenta()"></button>
          </div>

          <p-table
            [value]="detail"
            [columns]="columnas"
            dataKey="line"
            editMode="row"
            [rowHover]="true"
            [autoLayout]="true"
            [responsive]="true"
            [showCurrentPageReport]="true"
            styleClass="{{globalConstants.cStyleTableGridLines}}"
            currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
            <!-- Header -->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" class="custom-header">
                  {{col.header}}
                </th>
                <th class="custom-header"></th>
              </tr>
            </ng-template>
            <!-- body -->
            <ng-template pTemplate="body" let-modelo let-ri="rowIndex">
              <tr>
                <td class="custom-td-4">
                  <span class="p-column-title">Línea: </span>{{modelo.line}}
                </td>
                <td class="p-fluid">
                  <span class="p-column-title">Sku: </span> {{modelo.sku}}
                </td>
                <td class="p-fluid">
                    <span class="p-column-title">Descripción: </span> {{modelo.dscription}}
                </td>
                <td class="p-fluid">
                  <span class="p-column-title">Descripción larga: </span> {{modelo.dscriptionLarga}}
                </td>
                <td class="p-fluid">
                  <span class="p-column-title">Local: </span> {{modelo.nomLocal}}
                </td>
                <td class="p-fluid">
                  <span class="p-column-title">EAN: </span> {{modelo.ean}}
                </td>
                <td class="custom-td-numero">
                  <span class="p-column-title">Cantidad: </span> {{modelo.quantity | number: '.3':'en-EN'}}
                </td>
                <td class="custom-td-2">
                  <button pButton icon="{{globalConstants.icoEliminar}}" class="{{globalConstants.cStyleButtonDanger}}" (click)="onToRowDelete(modelo, ri)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">{{globalConstants.currentTableEmptyMessage}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <button pButton type="submit" [disabled]="detail?.length <= 0" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="back()" class="{{globalConstants.cStyleButtonDanger}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<p-dialog *ngIf="isVisualizarOrdenVenta" header="Ítem de órdenes de venta pendientes" [(visible)]="isVisualizarOrdenVenta" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <p-panel id="modal" header="Opciones de búsqueda" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="modeloFormBusqueda">
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <div class="p-inputgroup">
            <input id="float-input-text1" type="text" placeholder="Buscar por Sku o Descripción" maxlength="100" size="50" formControlName="text1" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
        </div>
      </div>
    </form>
  </p-panel>
  <p-panel header="Lista de ítem de órdenes de venta pendientes" [toggleable]="true">
    <p-table
    [value]="listModal"
    [columns]="columnasModal"
    selectionMode="multiple"
    [autoLayout]="true"
    [(selection)]="selected"
    [responsive]="true"
    [showCurrentPageReport]="true"
    styleClass="{{globalConstants.cStyleTableGridLines}}"
    currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
    [rowHover]="true">
      <!-- Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
          <th class="custom-header">Acciones</th>
        </tr>
      </ng-template>
      <!-- body -->
      <ng-template pTemplate="body" let-modelo let-editing="editing">
        <tr class="p-selectable-row" [pSelectableRow]="modelo">
          <td class="custom-td-4">
            <span class="p-column-title">Línea: </span>{{modelo.line}}
          </td>
          <td class="custom-td-5">
            <span class="p-column-title">Sku: </span> {{modelo.sku}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">Sodimac: </span> {{modelo.dscriptionLarga}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">Local: </span> {{modelo.nomLocal}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Cantidad: </span> {{modelo.quantity | number: '.3':'en-EN'}}
          </td>
          <td class="custom-td-2">
            <button pButton icon="{{globalConstants.icoAceptar}}" class="{{globalConstants.cStyleButtonSuccess}}" (click)="onToRowSelected(modelo)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cAceptar}}" icon="{{globalConstants.icoAceptar}}" styleClass="p-button-danger" (onClick)="onClickAceptOrdenVenta()"></p-button>
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseOrdenVenta()"></p-button>
  </ng-template>
</p-dialog>





<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
<app-panel-guardar [isDisplay]="isSaving"></app-panel-guardar>
<app-panel-eliminar [isDisplay]="isDeleting" ></app-panel-eliminar>
