<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-excluir-activo" label="Excluir inactivos" [binary]="true" formControlName="excluirInactivos"></p-checkbox>
          </div>
          <div class="col-12 md:col-2">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-excluir-sin-stock" label="Excluir sin stock" [binary]="true" formControlName="excluirSinStock"></p-checkbox>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="almacenList" [(ngModel)]="almacenSelected" formControlName="msAlmacen" defaultLabel="Seleccione Almacén" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-6">
            <input id="float-input-text1" type="text" placeholder="Buscar por código o descripción" maxlength="100" size="50" formControlName="text1" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
      </form>


      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
  <p-panel header="Lista de {{titulo}}">
    <p-table
    [value]="list"
    [columns]="columnas"
    [paginator]="true"
    [rows]="globalConstants.sizePage"
    dataKey="docEntry"
    editMode="row"
    [autoLayout]="true"
    [responsive]="true"
    styleClass="{{globalConstants.cStyleTableGridLines}}"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
    [rowHover]="true">
      <!-- Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <!-- body -->
      <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
        <tr class="p-selectable-row">
          <td class="p-fluid">
            <span class="p-column-title">Código</span> {{modelo.itemCode}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">Descripción</span> {{modelo.itemName}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">Almacén</span> {{modelo.whsName}}
          </td>
          <td class="custom-td-5">
            <span class="p-column-title">UM</span> {{modelo.invntryUom}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Stock</span> {{modelo.onHand | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Comprometido</span> {{modelo.isCommited | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Solicitado</span> {{modelo.onOrder | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Disponible</span>
            <span class="label" style="background:green" *ngIf="modelo.available >  0">{{modelo.available | number: '.2':'en-EN'}}</span>
            <span class="label" style="background:red"   *ngIf="modelo.available <= 0">{{modelo.available | number: '.2':'en-EN'}}</span>
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Peso Promedio Kg</span> {{modelo.pesoPromedioKg | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Peso Kg</span> {{modelo.pesoKg | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-5">
            <span class="p-column-title">Fecha de Producción</span> {{modelo.fecProduccion | date: 'dd/MM/yyyy'}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11">{{globalConstants.currentTableEmptyMessage}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>

<p-dialog *ngIf="isVisualizarAlmacen" header="Almacén" [(visible)]="isVisualizarAlmacen" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-almacen-stock-sap [whsCode]="whsCode" [itemCode]="itemCode"></app-busqueda-almacen-stock-sap>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-text" (onClick)="onClickAlmacenClose()"></p-button>
  </ng-template>
</p-dialog>
