<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat1" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat2" placeholder="Seleccionar fecha final" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="grupoClienteSapList" [(ngModel)]="grupoClienteSelected" formControlName="msGrupoCliente" defaultLabel="Seleccione el Grupo de Cliente" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="tipDocumentoList" [(ngModel)]="tipDocumentoSelected" formControlName="msTipDocumento" defaultLabel="Seleccione el Tipo de Documento" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="statusList" [(ngModel)]="statusSelected" formControlName="msStatus" defaultLabel="Seleccione el Estado" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <input id="float-input-text1" type="text" placeholder="Buscar por nombre de cliente" maxlength="100" size="50" formControlName="text1" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{subtitulo}}">
      <p-table
        [value]="reporteList"
        [columns]="columnas"
        [rowHover]="true"
        [paginator]="true"
        [autoLayout]="true"
        [responsive]="true"
        [showCurrentPageReport]="true"
        [rows]="globalConstants.sizePage"
        styleClass="{{globalConstants.cStyleTableGridLines}}"
        currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo>
          <tr class="p-selectable-row">
            <td class="p-fluid">
              <span class="p-column-title">Código de Cliente</span> {{modelo.cardCode}}
            </td>
            <td class="p-fluid">
              <span class="p-column-title">Nombre de Cliente</span> {{modelo.cardName}}
            </td>
            <td class="custom-td-6">
              <span class="p-column-title">Tipo de Documento</span> {{modelo.nomTipDocumento}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Número</span> {{modelo.numeroDocumento}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Fecha de Contabilización</span> {{modelo.docDate | date: 'dd/MM/yyyy'}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Fecha de Emisión</span> {{modelo.taxDate | date: 'dd/MM/yyyy'}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Fecha de Entrega</span> {{modelo.docDueDate | date: 'dd/MM/yyyy'}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Estado</span>
              <span [ngSwitch] = "modelo.codStatus">
                <span class="label" style="background:green" *ngSwitchCase = "01">{{modelo.nomStatus}}</span>
                <span class="label" style="background:blue"  *ngSwitchCase = "02">{{modelo.nomStatus}}</span>
                <span class="label" *ngSwitchDefault>{{modelo.nomStatus}}</span>
              </span>
            </td>
            <td class="custom-td-numero">
              <span class="p-column-title">Total USD</span> {{modelo.docTotalSy | number: '.2':'en-EN'}}
            </td>
          </tr>
        </ng-template>
        <!-- emptymessage -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td style="width: 1690px" colspan="9">{{globalConstants.currentTableEmptyMessage}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
</div>


<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
