<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat1" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat2" placeholder="Seleccionar fecha final" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="grupoClienteSapList" [(ngModel)]="grupoClienteSelected" formControlName="msGrupoCliente" defaultLabel="Seleccione el Grupo de Cliente" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="tipDocumentoList" [(ngModel)]="tipDocumentoSelected" formControlName="msTipDocumento" defaultLabel="Seleccione el Tipo de Documento" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="statusList" [(ngModel)]="statusSelected" formControlName="msStatus" defaultLabel="Seleccione el Estado" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <input id="float-input-text1" type="text" placeholder="Buscar por nombre de cliente" maxlength="100" size="50" formControlName="text1" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{subtitulo}}">
      <p-table
        [value]="reporteList"
        [scrollable]="true"
        scrollDirection="both"
        scrollHeight="500px"
        [rowHover]="true"
        [responsive]="true"
        [autoLayout]="true"
        styleClass="{{globalConstants.cStyleTableGridLines}}"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
        >
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 200px" pSortableColumn="cardCode" class="custom-header">
              <p-sortIcon field="cardCode"></p-sortIcon>
              Código de Cliente
            </th>
            <th style="width: 250px" pSortableColumn="cardName" class="custom-header">
              <p-sortIcon field="cardName"></p-sortIcon>
              Nombre de Cliente
            </th>
            <th style="width: 200px" pSortableColumn="nomTipDocumento" class="custom-header">
              <p-sortIcon field="nomTipDocumento"></p-sortIcon>
              Tipo de Documento
            </th>
            <th style="width: 220px" pSortableColumn="numeroDocumento" class="custom-header">
              <p-sortIcon field="numeroDocumento"></p-sortIcon>
              Número de Documento
            </th>
            <th style="width: 180px" pSortableColumn="numeroPedido" class="custom-header">
              <p-sortIcon field="numeroPedido"></p-sortIcon>
              Número de Pedido
            </th>
            <th style="width: 200px" pSortableColumn="numeroFactura" class="custom-header">
              <p-sortIcon field="numeroFactura"></p-sortIcon>
              Número de Factura
            </th>
            <th style="width: 230px" pSortableColumn="docDate" class="custom-header">
              <p-sortIcon field="docDate"></p-sortIcon>
              Fecha de Contabilización
            </th>
            <th style="width: 180px" pSortableColumn="taxDate" class="custom-header">
              <p-sortIcon field="taxDate"></p-sortIcon>
              Fecha de Emisión
            </th>
            <th style="width: 180px" pSortableColumn="docDueDate" class="custom-header">
              <p-sortIcon field="docDueDate"></p-sortIcon>
              Fecha de Entrega
            </th>
            <th style="width: 150px" pSortableColumn="nomStatus" class="custom-header">
              <p-sortIcon field="nomStatus"></p-sortIcon>
              Estado
            </th>
            <th style="width: 200px" pSortableColumn="slpName" class="custom-header">
              <p-sortIcon field="slpName"></p-sortIcon>
              Vendedor
            </th>
            <th style="width: 250px" pSortableColumn="itemCode" class="custom-header">
              <p-sortIcon field="itemCode"></p-sortIcon>
              Código de Artículo
            </th>
            <th style="width: 300px" pSortableColumn="itemName" class="custom-header">
              <p-sortIcon field="itemName"></p-sortIcon>
              Nombre de Artículo
            </th>
            <th style="width: 200px" pSortableColumn="whsName" class="custom-header">
              <p-sortIcon field="whsName"></p-sortIcon>
              Nombre de Almacén
            </th>
            <th style="width: 150px" pSortableColumn="salUnitMsr" class="custom-header">
              <p-sortIcon field="salUnitMsr"></p-sortIcon>
              UM de Venta
            </th>
            <th style="width: 150px" pSortableColumn="stockProduccion" class="custom-header">
              <p-sortIcon field="stockProduccion"></p-sortIcon>
              Stock
            </th>
            <th style="width: 150px" pSortableColumn="pendienteProduccion" class="custom-header">
              <p-sortIcon field="pendienteProduccion"></p-sortIcon>
              Pendiente
            </th>
            <th style="width: 150px" pSortableColumn="solicitadoProduccion" class="custom-header">
              <p-sortIcon field="solicitadoProduccion"></p-sortIcon>
              Solicitado
            </th>
            <th style="width: 150px" pSortableColumn="disponibleProduccion" class="custom-header">
              <p-sortIcon field="disponibleProduccion"></p-sortIcon>
              Disponible
            </th>
            <th style="width: 150px" pSortableColumn="quantity" class="custom-header">
              <p-sortIcon field="quantity"></p-sortIcon>
              Cantidad
            </th>
            <th style="width: 150px" pSortableColumn="rolloPedido" class="custom-header">
              <p-sortIcon field="rolloPedido"></p-sortIcon>
              Rol Pedido
            </th>
            <th style="width: 150px" pSortableColumn="kgPedido" class="custom-header">
              <p-sortIcon field="kgPedido"></p-sortIcon>
              Kg Pedido
            </th>
            <th style="width: 150px" pSortableColumn="toneladaPedida" class="custom-header">
              <p-sortIcon field="toneladaPedida"></p-sortIcon>
              Tn Pedida
            </th>
            <th style="width: 300px" pSortableColumn="openQty" class="custom-header">
              <p-sortIcon field="openQty"></p-sortIcon>
              Cantidad Pendiente Por Despachar
            </th>
            <th style="width: 150px" pSortableColumn="rolloPendiente" class="custom-header">
              <p-sortIcon field="rolloPendiente"></p-sortIcon>
              Rol Pendiente
            </th>
            <th style="width: 150px" pSortableColumn="kgPendiente" class="custom-header">
              <p-sortIcon field="kgPendiente"></p-sortIcon>
              Kg Pendiente
            </th>
            <th style="width: 150px" pSortableColumn="toneladaPendiente" class="custom-header">
              <p-sortIcon field="toneladaPendiente"></p-sortIcon>
              Tn Pendiente
            </th>
            <th style="width: 220px" pSortableColumn="delivrdQty" class="custom-header">
              <p-sortIcon field="delivrdQty"></p-sortIcon>
              Cantidad Despachada
            </th>
            <th style="width: 150px" pSortableColumn="price" class="custom-header">
              <p-sortIcon field="price"></p-sortIcon>
              Precio
            </th>
            <th style="width: 150px" pSortableColumn="totalSumSy" class="custom-header">
              <p-sortIcon field="totalSumSy"></p-sortIcon>
              Importe USD
            </th>
          </tr>
        </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo>
          <tr class="ui-selectable-row">
            <td style="width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">Código de Cliente</span> {{modelo.cardCode}}
            </td>
            <td style="width: 250px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">Nombre de Cliente</span> {{modelo.cardName}}
            </td>
            <td style="width: 200px">
              <span class="p-column-title">Tipo de Documento</span> {{modelo.nomTipDocumento}}
            </td>
            <td style="width: 220px">
              <span class="p-column-title">Número de Documento</span> {{modelo.numeroDocumento}}
            </td>
            <td style="width: 180px">
              <span class="p-column-title">Número de Pedido</span> {{modelo.numeroPedido}}
            </td>
            <td style="width: 200px">
              <span class="p-column-title">Número de Factura</span> {{modelo.numeroFactura}}
            </td>
            <td style="width: 230px">
              <span class="p-column-title">Fecha de Contabilización</span> {{modelo.docDate | date: 'dd/MM/yyyy'}}
            </td>
            <td style="width: 180px">
              <span class="p-column-title">Fecha de Emisión</span> {{modelo.taxDate | date: 'dd/MM/yyyy'}}
            </td>
            <td style="width: 180px">
              <span class="p-column-title">Fecha de Entrega</span> {{modelo.docDueDate | date: 'dd/MM/yyyy'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Estado</span>
              <span [ngSwitch] = "modelo.codStatus">
                <span class="label" style="background:green" *ngSwitchCase = "01">{{modelo.nomStatus}}</span>
                <span class="label" style="background:blue"  *ngSwitchCase = "02">{{modelo.nomStatus}}</span>
                <span class="label" *ngSwitchDefault>{{modelo.nomStatus}}</span>
              </span>
            </td>
            <td style="width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">Vendedor</span> {{modelo.slpName}}
            </td>
            <td style="width: 250px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">Código de Artículo</span> {{modelo.itemCode}}
            </td>
            <td style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">Nombre de Artículo</span> {{modelo.itemName}}
            </td>
            <td style="width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">Nombre de Almacén</span> {{modelo.whsName}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">UM de Venta</span> {{modelo.salUnitMsr}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Stock</span> {{modelo.stockProduccion | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Pendiente</span> {{modelo.pendienteProduccion | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Solicitado</span> {{modelo.solicitadoProduccion | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Disponible</span> {{modelo.disponibleProduccion | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Cantidad</span> {{modelo.quantity | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Rol Pedido</span> {{modelo.rolloPedido | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Kg Pedido</span> {{modelo.kgPedido | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Tn Pedida</span> {{modelo.toneladaPedida | number: '.2':'en-EN'}}
            </td>
            <td style="width: 300px">
              <span class="p-column-title">Cantidad Pendiente Por Despachar</span> {{modelo.openQty | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Rol Pendiente</span> {{modelo.rolloPendiente | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Kg Pendiente</span> {{modelo.kgPendiente | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Tn Pendiente</span> {{modelo.toneladaPendiente | number: '.2':'en-EN'}}
            </td>
            <td style="width: 220px">
              <span class="p-column-title">Cantidad Despachada</span> {{modelo.delivrdQty | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Precio</span> {{modelo.price | number: '.2':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">Importe USD</span> {{modelo.totalSumSy | number: '.2':'en-EN'}}
            </td>
          </tr>
        </ng-template>
        <!-- emptymessage -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td style="width: 5560px" colspan="23">{{globalConstants.currentTableEmptyMessage}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
</div>


<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
