<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{titulo}}" [style] = "{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat1" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat2" placeholder="Seleccionar fecha final" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-4">
            <p-multiSelect [options]="docStatusList" [(ngModel)]="docStatusSelected" formControlName="msDocStatus" defaultLabel="Seleccione el Estado" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickBuscar()"></button>
        </div>
        <div class="col-12 md:col-4">
          <button [disabled]="buttonAcces.btnNuevo" pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="onClickCreate()"></button>
        </div>
        <div class="col-12 md:col-4">
          <app-btn-salir [isMargenTop]="false"></app-btn-salir>
        </div>
        </div>
      </p-footer>
    </p-panel>



    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{titulo}}">
        <p-table
          [value] = "listTransferencia"
          [columns] = "columnas"
          [paginator] = "true"
          [rows] = "globalConstants.sizePage"
          editMode="row"
          dataKey="idSolicitudTraslado"
          [autoLayout] = "true"
          [responsive] = "true"
          [showCurrentPageReport] = "true"
          styleClass="{{globalConstants.cStyleTableGridLines}}"
          currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
          [rowHover] = "true">
          <!-- Header -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="custom-header"></th>
              <th pSortableColumn="{{col.field}}" *ngFor = "let col of columns" class = "custom-header">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <!-- body -->
          <ng-template pTemplate = "body" let-modelo let-editing = "editing" let-ri = "rowIndex">
            <tr class="p-selectable-row">
              <td class="custom-td-2">
                <p-splitButton icon="pi pi-cog" [model] = "opciones" (onDropdownClick) = "onSelectedItem(modelo)" appendTo = "body">
                </p-splitButton>
              </td>
              <td class="custom-td-5">
                <span class="p-column-title">Número</span> {{modelo.docNum}}
              </td>
              <td class="custom-td-5">
                <span class="p-column-title">Guía</span> {{modelo.numDocumento}}
              </td>
              <td class="p-fluid">
                <span class="p-column-title">Fecha de contabilización</span> {{modelo.docDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="p-fluid">
                <span class="p-column-title">Fecha de entrega</span> {{modelo.docDueDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="p-fluid">
                <span class="p-column-title">Fecha de documento</span> {{modelo.taxDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="p-fluid">
                <span class="p-column-title">Origen</span> {{modelo.filler}}
              </td>
              <td class="p-fluid">
                <span class="p-column-title">Destino</span> {{modelo.toWhsCode}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="9">{{globalConstants.currentTableEmptyMessage}}</td>
            </tr>
          </ng-template>
        </p-table>
    </p-panel>
</div>

<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay] = "isDisplay"></app-panel-obtener>
<app-panel-cerrar [isClosing] = "isClosing" ></app-panel-cerrar>


<p-dialog *ngIf="isDisplayGenerandoVisor" header="Generando visor" [(visible)]="isDisplayGenerandoVisor" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Generando visor del registro seleccionado...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>


<p-dialog *ngIf="isDisplayVisor" header="FORMATO DE REGISTRO" [(visible)]="isDisplayVisor" [modal]="true" [style]="{width: '80vw'}" [autoZIndex] [maximizable]="true">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <app-modal-visor-pdf [isFile]="isDataBlob"></app-modal-visor-pdf>
    </div>
  </div>
</p-dialog>

