<div class="card card-w-title">
  <p-panel header="Registro de {{titulo}}">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormCab1">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardCode">Código de cliente </label>
                <app-modal-socio-negocio-sap [cardCode]="cardCode" [isHabilitarButton]="modelo === undefined?false : modelo.docStatus === '01'? false : true" [title]="'Socio de Negocios'" [cardType] = "'C,S'" [transType] = "'N,Y'" (eventoAceptar)="onSelectedSocioNegocio($event)"></app-modal-socio-negocio-sap>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardName">Razón social o nombre </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardName" type="text" placeholder="Razón social o nombre" maxlength="100" size="50" formControlName="cardName" autocomplete="off" pInputText [readOnly]="true">
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-persona-contacto">Persona de contacto </label>
                <app-modal-persona-contacto-sap [cardCode]="cardCode" [cntctCode]="cntctCode" (eventoAceptar)="onSelectedPersonaContacto($event)"></app-modal-persona-contacto-sap>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-address">Dirección de destino </label>
                <div class="p-inputgroup">
                  <textarea id="float-area-address" formControlName="address" autocomplete="off" placeholder="Dirección de destino" maxlength="254" rows="1" pInputText [readOnly]="true"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormCab2">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-5">
                <label class="label-custom" for="float-input-docNum">Número</label>
                <div class="p-inputgroup">
                  <input id="float-input-docNum" type="text" placeholder="Número" maxlength="50" size="50" formControlName="docNum" autocomplete="off" pInputText [readOnly]="true">
                </div>
              </div>
              <div class="col-12 md:col-5">
                <label class="label-custom" for="float-input-docStatus">Estado </label><span class="label" style="font-weight: bold; color:red">*</span>
                <p-dropdown id="float-input-docStatus" [options]="docStatusList" class="p dropdown-item-text" placeholder="Seleccionar el estado" formControlName="docStatus" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                <div *ngIf="modeloFormCab2.controls['docStatus'].errors && modeloFormCab2.controls['docStatus'].dirty">
                  <p-message severity="error" text="El estado es requerido." *ngIf="modeloFormCab2.controls['docStatus'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-2">
                <label class="label-custom" for="float-input-estado">¿Lectura? </label>
                <div class="p-inputgroup">
                  <p-checkbox id="float-input-read" [ngStyle]="{'padding-top': '5px'}" [binary]="true" formControlName="read" styleClass="ng-invalid ng-dirty"></p-checkbox>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDate">Fecha de contabilización </label><span class="label" style="font-weight: bold; color:red">*</span>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDate" [disabled]="modelo === undefined?false : modelo.docStatus === '01'? false : true" placeholder="Fecha de contabilización" formControlName="docDate" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormCab2.controls['docDate'].errors && modeloFormCab2.controls['docDate'].dirty">
                  <p-message severity="error" text="La fecha de contabilización es requerida." *ngIf="modeloFormCab2.controls['docDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDueDate">Fecha de entrega </label><span class="label" style="font-weight: bold; color:red">*</span>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDueDate" [disabled]="modelo === undefined?false : modelo.docStatus === '01'? false : true" placeholder="Fecha de entrega" formControlName="docDueDate" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormCab2.controls['docDueDate'].errors && modeloFormCab2.controls['docDueDate'].dirty">
                  <p-message severity="error" text="La fecha de entrega es requerida." *ngIf="modeloFormCab2.controls['docDueDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-taxDate">Fecha de documento </label><span class="label" style="font-weight: bold; color:red">*</span>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-taxDate" [disabled]="modelo === undefined?false : modelo.docStatus === '01'? false : true" placeholder="Fecha de documento" formControlName="taxDate" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormCab2.controls['taxDate'].errors && modeloFormCab2.controls['taxDate'].dirty">
                  <p-message severity="error" text="La fecha de documento es requerida." *ngIf="modeloFormCab2.controls['taxDate'].errors['required']"></p-message>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloFormCab3">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-almacen-origen">Almacén de origen </label><span class="label" style="font-weight: bold; color:red">*</span>
                <app-modal-almacen-sap [whsCode]="whsCodeOrigen" [isHabilitarButton]="modelo === undefined?false : modelo.docStatus === '01'? false : true" [demandante]="demandanteAlmacen" [itemCode]="itemCodeAlmacen" [inactive]="inactiveAlmacen" (eventoAceptar)="onSelectedAlmacenOrigen($event)"></app-modal-almacen-sap>
              </div>
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-destino">Almacén de destino </label><span class="label" style="font-weight: bold; color:red">*</span>
                <app-modal-almacen-sap [whsCode]="whsCodeDestino" [isHabilitarButton]="modelo === undefined?false : modelo.docStatus === '01'? false : true" [demandante]="demandanteAlmacen" [itemCode]="itemCodeAlmacen" [inactive]="inactiveAlmacen" (eventoAceptar)="onSelectedAlmacenDestino($event)"></app-modal-almacen-sap>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12">
        <div class="card no-margin">
          <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Contenido&nbsp;</span>
              </ng-template>
              <p-table
                [value]="detalle"
                dataKey="line"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                [responsive]="true"
                [showCurrentPageReport]="true"
                [(contextMenuSelection)]="detalleSelected"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <!-- Header -->
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="custom-header" *ngIf="modelo?.docStatus === '01'"></th>
                    <th class="custom-header">Código</th>
                    <th class="custom-header">Descripción</th>
                    <th class="custom-header">Almacén de origen</th>
                    <th class="custom-header">Almacén de destino</th>
                    <th class="custom-header">UM</th>
                    <th class="custom-header">Cantidad</th>
                    <th class="custom-header" *ngIf="modelo?.read === 'Y'">Pendiente de lectura</th>
                    <th class="custom-header">Pendiente de despacho</th>
                  </tr>
                </ng-template>
                <!-- body -->
                <ng-template pTemplate="body" let-linea let-ri="rowIndex">
                  <tr [ngClass]="{'row-cerrado': linea?.lineStatus === '02'}">
                    <td class="custom-td-2" *ngIf="modelo?.docStatus === '01'">
                      <p-splitButton icon="pi pi-cog" [model] = "opciones" (onDropdownClick) = "onSelectedItem(linea)" appendTo = "body">
                      </p-splitButton>
                    </td>
                    <td class="p-fluid">
                      <span class="p-column-title">Código: </span><i *ngIf="linea?.lineStatus === '01'" class="pi pi-search" (click)="onOpenArticulo(ri)"></i> {{linea.itemCode}}
                    </td>
                    <td class="p-fluid">
                        <span class="p-column-title">Descripción: </span> {{linea.dscription}}
                    </td>

                    <td class="p-fluid">
                      <span class="p-column-title">Almacén de origen: </span><i *ngIf="linea?.itemCode !== '' && linea?.lineStatus === '01'" class="pi pi-search" (click)="onOpenAlmacenOrigen(linea, ri)" ></i> {{linea.fromWhsCod}}
                    </td>
                    <td class="p-fluid">
                      <span class="p-column-title">Almacén de destino: </span><i *ngIf="linea?.itemCode !== '' && linea?.lineStatus === '01'" class="pi pi-search" (click)="onOpenAlmacenDestino(linea, ri)"></i> {{linea.whsCode}}
                    </td>
                    <td class="custom-td-3">
                      <span class="p-column-title">UM: </span> {{linea.unitMsr}}
                    </td>
                    <td class="custom-td-numero" *ngIf="linea?.lineStatus === '02'">
                      <span class="p-column-title">Cantidad: </span> {{linea.quantity | number: '.3':'en-EN'}}
                    </td>
                    <td class="custom-td-numero" pEditableColumn *ngIf="linea?.lineStatus === '01'">
                      <span class="p-column-title">Cantidad: </span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input id="cantidad" type="text" autocomplete="off" [(ngModel)]="linea.quantity" maxlength="9" (ngModelChange)="onChangeQuantity(linea,ri)" pInputText (keypress)="this.utilService.aceptaSoloNumeros($event,linea.quantity)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{linea.quantity | number: '.3':'en-EN'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="custom-td-numero" *ngIf="modelo?.read === 'Y'">
                      <span class="p-column-title">Pendiente de lectura: </span> {{linea.openQtyRding | number: '.3':'en-EN'}}
                    </td>
                    <td class="custom-td-numero">
                      <span class="p-column-title">Pendiente de despacho: </span> {{linea.openQty | number: '.3':'en-EN'}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="7" *ngIf="modelo?.docStatus === '02' && modelo?.read === 'N'">{{globalConstants.currentTableEmptyMessage}}</td>
                    <td colspan="8" *ngIf="modelo?.docStatus === '01' && modelo?.read === 'N'">{{globalConstants.currentTableEmptyMessage}}</td>
                    <td colspan="9" *ngIf="modelo?.docStatus === '01' && modelo?.read === 'Y'">{{globalConstants.currentTableEmptyMessage}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Otros&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormOtr">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-4">
                    <label class="label-custom" for="float-input-tipo-traslado">Tipo de traslado </label><span class="label" style="font-weight: bold; color:red">*</span>
                    <app-modal-tabla-definida-usuario-sap [title]="'Tipo de Traslado'" [fldValue]="codTipTraslado" [placeholder]="'Tipo de traslado'" [nomTabla]="'OWTQ'" [nomCampo]="'FIB_TIP_TRAS'" (eventoAceptar)="onSelectedTipoTraslado($event)"></app-modal-tabla-definida-usuario-sap>
                  </div>
                  <div class="col-12 md:col-4">
                    <label class="label-custom" for="float-input-motivo-traslado">Motivo de traslado </label><span class="label" style="font-weight: bold; color:red">*</span>
                    <app-modal-tabla-definida-usuario-sap [title]="'Motivo de Traslado'" [fldValue]="codMotTraslado" [placeholder]="'Motivo de traslado'" [nomTabla]="'OWTQ'" [nomCampo]="'BPP_MDMT'" (eventoAceptar)="onSelectedMotivoTraslado($event)"></app-modal-tabla-definida-usuario-sap>
                  </div>
                  <div class="col-12 md:col-4">
                    <label class="label-custom" for="float-input-tipo-salida">Tipo de salida </label><span class="label" style="font-weight: bold; color:red">*</span>
                    <app-modal-tabla-definida-usuario-sap [title]="'Tipo de Salida'" [fldValue]="codTipSalida" [placeholder]="'Tipo de salida'" [nomTabla]="'OWTQ'" [nomCampo]="'BPP_MDTS'" (eventoAceptar)="onSelectedTipoSalida($event)"></app-modal-tabla-definida-usuario-sap>
                  </div>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>

      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloFormPie1">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-empleado-ventas">Empleado de ventas </label><span class="label" style="font-weight: bold; color:red">*</span>
                <app-modal-empleado-venta-sap [slpCode]="slpCode" [isHabilitarButton]="modelo === undefined?false : modelo.docStatus === '01'? false : true" (eventoAceptar)="onSelectedEmpleadoVenta($event)"></app-modal-empleado-venta-sap>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-jrnlMemo">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea formControlName="jrnlMemo" autocomplete="off" placeholder="Comentarios" maxlength="50" rows="2" pInputText></textarea>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-comments">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea formControlName="comments" autocomplete="off" placeholder="Comentarios" maxlength="254" rows="2" pInputText></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <button pButton type="submit" [disabled]="!modeloFormCab2.valid || !modeloFormCab3.valid || !modeloFormPie1.valid || detalle?.length <= 0" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onClickBack()" class="{{globalConstants.cStyleButtonDanger}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<p-dialog *ngIf="isVisualizarArticulo" header="Artículo" [(visible)]="isVisualizarArticulo" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-articulo-sap [artInv] = "'Y'" [artVen] = "'Y,N'" [artCom] = "'Y,N'" (eventoAceptar)="onSelectedArticulo($event)"></app-busqueda-articulo-sap>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-text" (onClick)="onClickCloseArticulo()"></p-button>
  </ng-template>
</p-dialog>


<p-dialog *ngIf="isVisualizarAlmacenOrigen" header="Almacén" [(visible)]="isVisualizarAlmacenOrigen" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-almacen-sap [demandante]="demandanteAlmacenItem" [itemCode]="itemCode" [inactive]="inactiveAlmacenItem" (eventoAceptar)="onSelectedAlmacenOrigenItem($event)"></app-busqueda-almacen-sap>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-text" (onClick)="onClickCloseAlmacenOrigen()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarAlmacenDestino" header="Almacén" [(visible)]="isVisualizarAlmacenDestino" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-almacen-sap [demandante]="demandanteAlmacenItem" [itemCode]="itemCode" [inactive]="inactiveAlmacenItem" (eventoAceptar)="onSelectedAlmacenDestinoItem($event)"></app-busqueda-almacen-sap>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-text" (onClick)="onClickCloseAlmacenDestino()"></p-button>
  </ng-template>
</p-dialog>


<!-- MODAL: Proceso -->
<app-panel-guardar [isDisplay]="isSaving"></app-panel-guardar>
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
