<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat1" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat2" placeholder="Seleccionar fecha final" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <input id="float-input-text1" type="text" placeholder="Buscar por nombre de cliente" maxlength="100" size="50" formControlName="text1" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{subtitulo}}">
      <p-panel header="Lista de {{subtitulo}}">
        <p-table
          [value]="reporteList"
          [scrollable]="true"
          scrollDirection="both"
          scrollHeight="500px"
          [autoLayout]="true"
          [responsive]="true"
          styleClass="{{globalConstants.cStyleTableGridLines}}"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
          [rowHover]="true">
          <!-- Header -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 200px" pFrozenColumn pSortableColumn="cardCode" class="custom-header">
                <p-sortIcon field="cardCode"></p-sortIcon>
                Código de Cliente
              </th>
              <th style="width: 250px" pFrozenColumn pSortableColumn="cardName" class="custom-header">
                <p-sortIcon field="cardName"></p-sortIcon>
                Nombre de Cliente
              </th>
              <th style="width: 200px" pSortableColumn="nomTipDocumento" class="custom-header">
                <p-sortIcon field="nomTipDocumento"></p-sortIcon>
                Tipo de Documento
              </th>
              <th style="width: 180px" pSortableColumn="numeroPedido" class="custom-header">
                <p-sortIcon field="numeroPedido"></p-sortIcon>
                Número de Pedido
              </th>
              <th style="width: 200px" pSortableColumn="numeroFactura" class="custom-header">
                <p-sortIcon field="numeroFactura"></p-sortIcon>
                Número de Factura
              </th>
              <th style="width: 230px" pSortableColumn="docDate" class="custom-header">
                <p-sortIcon field="docDate"></p-sortIcon>
                Fecha de Contabilización
              </th>
              <th style="width: 250px" pSortableColumn="itemCode" class="custom-header">
                <p-sortIcon field="itemCode"></p-sortIcon>
                Código de Artículo
              </th>
              <th style="width: 300px" pSortableColumn="itemName" class="custom-header">
                <p-sortIcon field="itemName"></p-sortIcon>
                Nombre de Artículo
              </th>
              <th style="width: 200px" pSortableColumn="grupo" class="custom-header">
                <p-sortIcon field="grupo"></p-sortIcon>
                Grupo
              </th>
              <th style="width: 150px" pSortableColumn="salUnitMsr" class="custom-header">
                <p-sortIcon field="salUnitMsr"></p-sortIcon>
                UM
              </th>
              <th style="width: 150px" pSortableColumn="stockProduccion" class="custom-header">
                <p-sortIcon field="stockProduccion"></p-sortIcon>
                Stock
              </th>
              <th style="width: 150px" pSortableColumn="quantity" class="custom-header">
                <p-sortIcon field="quantity"></p-sortIcon>
                Cantidad
              </th>
              <th style="width: 300px" pSortableColumn="openQty" class="custom-header">
                <p-sortIcon field="openQty"></p-sortIcon>
                Cantidad Pendiente Por Despachar
              </th>
              <th style="width: 200px" pSortableColumn="diasAntiguedad" class="custom-header">
                <p-sortIcon field="diasAntiguedad"></p-sortIcon>
                Días de Antiguedad
              </th>
              <th style="width: 100px" pSortableColumn="sede" class="custom-header">
                <p-sortIcon field="sede"></p-sortIcon>
                Sede
              </th>
            </tr>
          </ng-template>
          <!-- body -->
          <ng-template pTemplate="body" let-modelo>
            <tr class="ui-selectable-row">
              <td style="width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden" pFrozenColumn>
                <span class="p-column-title">Código de Cliente</span> {{modelo.cardCode}}
              </td>
              <td style="width: 250px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden" pFrozenColumn>
                <span class="p-column-title">Nombre de Cliente</span> {{modelo.cardName}}
              </td>
              <td style="width: 200px">
                <span class="p-column-title">Tipo de Documento</span> {{modelo.nomTipDocumento}}
              </td>
              <td style="width: 180px">
                <span class="p-column-title">Número de Pedido</span> {{modelo.numeroPedido}}
              </td>
              <td style="width: 200px">
                <span class="p-column-title">Número de Factura</span> {{modelo.numeroFactura}}
              </td>
              <td style="width: 230px">
                <span class="p-column-title">Fecha de Contabilización</span> {{modelo.docDate | date: 'dd/MM/yyyy'}}
              </td>
              <td style="width: 250px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
                <span class="p-column-title">Código de Artículo</span> {{modelo.itemCode}}
              </td>
              <td style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
                <span class="p-column-title">Nombre de Artículo</span> {{modelo.itemName}}
              </td>
              <td style="width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
                <span class="p-column-title">Grupo</span> {{modelo.grupo}}
              </td>
              <td style="width: 150px">
                <span class="p-column-title">UM</span> {{modelo.salUnitMsr}}
              </td>
              <td style="width: 150px">
                <span class="p-column-title">Stock</span> {{modelo.stockProduccion | number: '.2':'en-EN'}}
              </td>
              <td style="width: 150px">
                <span class="p-column-title">Cantidad</span> {{modelo.quantity | number: '.2':'en-EN'}}
              </td>
              <td style="width: 300px">
                <span class="p-column-title">Cantidad Pendiente Por Despachar</span> {{modelo.openQty | number: '.2':'en-EN'}}
              </td>
              <td style="width: 200px">
                <span class="p-column-title">Días de Antiguedad </span> {{modelo.diasAntiguedad}}
              </td>
              <td style="width: 100px">
                <span class="p-column-title">Sede</span> {{modelo.sede}}
              </td>
            </tr>
          </ng-template>
          <!-- emptymessage -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="width: 3060px" colspan="23">{{globalConstants.currentTableEmptyMessage}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </p-panel>
</div>


<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
