<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-excluir-activo" label="Excluir inactivos" [binary]="true" formControlName="excluirInactivos"></p-checkbox>
          </div>
          <div class="col-12 md:col-2">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-excluir-sin-stock" label="Excluir sin stock" [binary]="true" formControlName="excluirSinStock"></p-checkbox>
          </div>
          <div class="col-12 md:col-2">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-articulo-inventario" label="Artículo de inventario" [binary]="true" formControlName="invntItem"></p-checkbox>
          </div>
          <div class="col-12 md:col-2">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-articulo-venta" label="Artículo de venta" [binary]="true" formControlName="sellItem"></p-checkbox>
          </div>
          <div class="col-12 md:col-4">
            <p-checkbox [ngStyle]="{'padding-top': '10px'}" id="float-input-articulo-compra" label="Artículo de compra" [binary]="true" formControlName="prchseItem"></p-checkbox>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="grupoArticuloList" [(ngModel)]="grupoArticuloSelected" formControlName="msGrupo" defaultLabel="Seleccione Grupo" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="subGrupoArticuloList" [(ngModel)]="subGrupoArticuloSelected" formControlName="msSubGrupo" defaultLabel="Seleccione SubGrupo" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="subGrupoArticulo2List" [(ngModel)]="subGrupoArticulo2Selected" formControlName="msSubGrupo2" defaultLabel="Seleccione SubGrupo 2" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-6">
            <input id="float-input-text1" type="text" placeholder="Buscar por código o descripción" maxlength="100" size="50" formControlName="text1" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
  <p-panel header="Lista de {{titulo}}">
    <p-table
      [value]="reporteList"
      [columns]="columnas"
      [paginator]="true"
      [rows]="globalConstants.sizePage"
      dataKey="docEntry"
      editMode="row"
      [autoLayout]="true"
      [responsive]="true"
      styleClass="{{globalConstants.cStyleTableGridLines}}"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
      [rowHover]="true">
      <!-- Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <!-- body -->
      <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
        <tr class="ui-selectable-row">
          <td class="p-fluid">
            <span class="p-column-title">Código</span> {{modelo.itemCode}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">Descripción</span> {{modelo.itemName}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">Grupo</span> {{modelo.nomGrupo}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">SubGrupo</span> {{modelo.nomSubGrupo}}
          </td>
          <td class="p-fluid">
            <span class="p-column-title">SubGrupo 2</span> {{modelo.nomSubGrupo2}}
          </td>
          <td class="custom-td-2">
            <span class="p-column-title">UM</span> {{modelo.salUnitMsr}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Stock</span> {{modelo.onHand | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Comprometido</span> {{modelo.isCommited | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Solicitado</span> {{modelo.onOrder | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Disponible</span> {{modelo.available | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            <span class="p-column-title">Peso Promedio Kg</span> {{modelo.pesoPromedioKg | number: '.2':'en-EN'}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11">{{globalConstants.currentTableEmptyMessage}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
