<p-panel header="Registro de {{titulo}}">
    <div class="grid p-fluid">
        <div class="col-12">
            <form [formGroup]="maestroForm">
                <div class="p-grid form-group">
                    <div class="col-12">
                        <label class="label-custom" for="float-input-corta">Descripcion: </label>
                        <input type="text" pInputText placeholder="Ingresar descripcion" maxlength="100" formControlName="descripcion" />
                        <div *ngIf="maestroForm.controls['descripcion'].errors && maestroForm.controls['descripcion'].dirty">
                            <p-message severity="error" text="Descripcion es requerido" *ngIf="maestroForm.controls['descripcion'].errors['required']"></p-message>
                            <p-message severity="error" text="La descripcion debe tener un maximo de 100 y un minimo de 3 caractares." *ngIf="maestroForm.controls['descripcion'].errors['maxlength'] || maestroForm.controls['descripcion'].errors['minlength']"></p-message>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p-footer>
        <div class="grid p-fluid">
            <div class="col-12 md:col-6">
                <button pButton type="submit" [disabled]="!maestroForm.valid" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
            </div>
            <div class="col-12 md:col-6">
                <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="back()" class="{{globalConstants.cStyleButtonDanger}}"></button>
            </div>
        </div>
    </p-footer>
</p-panel>