<div class="card card-w-title">
  <h1><strong>{{titulo}}</strong></h1>

  <!-- Filtros -->
  <p-panel header="Opción de busqueda de {{titulo}}" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="modeloForm">
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <p-calendar id="float-calendar-fecInicial" formControlName="fecInicial" placeholder="Fecha Inicial" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
        </div>
        <div class="col-12 md:col-2">
          <p-calendar id="float-calendar-fecFinal" formControlName="fecFinal" placeholder="Fecha Final" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
        </div>
        <div class="col-12 md:col-8"></div>
        <div class="col-12 md:col-2">
          <p-multiSelect id="float-multiSelect-estado" [options]="estadoList" [(ngModel)]="estadoSelected" formControlName="msEstadoSap" defaultLabel="Seleccione Estado" selectedItemsLabel="{0} items selected"></p-multiSelect>
        </div>
        <div class="col-12 md:col-2">
          <input id="float-input-numero" type="text" pInputText placeholder="Número" maxlength="50" size="50" formControlName="numero" autocomplete="off">
        </div>
        <div class="col-12 md:col-2">
          <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
        </div>
        <div class="col-12 md:col-2">
          <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid || !lista?.length" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
        </div>
        <div class="col-12 md:col-2">
          <button [disabled]="buttonAcces.btnNuevo" pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="onToCreate()"></button>
        </div>
        <div class="col-12 md:col-2">
          <app-btn-salir [isMargenTop]="false"></app-btn-salir>
        </div>
      </div>
    </form>
  </p-panel>

  <!-- Grilla de Datos     -->
  <p-panel header="Lista de {{titulo}}">
    <p-table
      [value]="lista"
      [columns]="columnas"
      [paginator]="true"
      [rows]="globalConstants.sizePage"
      dataKey="docEntry"
      editMode="row"
      [autoLayout]="true"
      [responsive]="true"
      styleClass="{{globalConstants.cStyleTableGridLines}}"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
      [rowHover]="true">
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
              {{col.header}}
            </th>
            <th colspan="2" class="custom-header">Acciones</th>
          </tr>
        </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
          <tr class="ui-selectable-row">
            <td class="custom-td-5">
              <span class="p-column-title">Número</span> {{modelo.idOrdenMantenimiento}}
            </td>
            <td class="custom-td-6">
              <span class="p-column-title">Fecha Inicio</span> {{modelo.fecInicio | date: 'dd/MM/yyyy'}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Fecha Fin</span> {{modelo.fecFin | date: 'dd/MM/yyyy'}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Hora Inicio</span> {{modelo.horaInicio}}
            </td>
            <td class="custom-td-5">
              <span class="p-column-title">Hora Fin</span> {{modelo.horaFin}}
            </td>
            <td class="p-fluid">
              <span class="p-column-title">Servicio</span> {{modelo.nomTipoServicio}}
            </td>
            <td class="p-fluid">
              <span class="p-column-title">Área</span> {{modelo.nomArea}}
            </td>
            <td class="p-fluid">
              <span class="p-column-title">Máquina</span> {{modelo.nomMaquina}}
            </td>
            <td class="p-fluid">
              <span class="p-column-title">Técnico</span> {{modelo.nomTecnico}}
            </td>
            <td class="custom-td-2">
              <span [ngSwitch]="modelo.codEstado">
                <span class="label" style="font-weight: bolder;background:green" *ngSwitchCase="01">Pendiente</span>
                <span class="label" style="font-weight: bolder;background:#2141fa" *ngSwitchCase="02">Aprobado</span>
                <span class="label" style="font-weight: bolder;background:rgb(225, 20, 20)" *ngSwitchCase="03">Rechazado</span>
                <span class="label" *ngSwitchDefault>Otros</span>
              </span>
            </td>
            <td class="custom-td-2">
              <button [disabled]="buttonAcces.btnEnviar" pButton icon="{{globalConstants.icoEnviar}}" class="{{globalConstants.cStyleButtonSuccess}}" (click)="onToRowSelectAprobar(modelo)"></button>
            </td>
            <td class="custom-td-2">
              <button [disabled]="buttonAcces.btnImprimir" pButton icon="{{globalConstants.icoImprimir}}" class="{{globalConstants.cStyleButtonWarning}}" (click)="onToRowSelectPrint(modelo)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">{{globalConstants.currentTableEmptyMessage}}</td>
          </tr>
        </ng-template>
    </p-table>
  </p-panel>
</div>

<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>

<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Enviando Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>

<p-dialog *ngIf="isDisplayGenerandoVisor" header="Generando visor" [(visible)]="isDisplayGenerandoVisor" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Generando visor del registro seleccionado...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>


<p-dialog *ngIf="isDisplayVisor" header="PICKING LIST" [(visible)]="isDisplayVisor" [modal]="true" [style]="{width: '80vw'}" [autoZIndex] [maximizable]="true">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <app-modal-visor-pdf [isFile]="isDataBlob"></app-modal-visor-pdf>
    </div>
  </div>
</p-dialog>
