<div class="card card-w-title">
  <p-panel header="Vizualización de {{titulo}}">
    <div class="grid p-fluid">
      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloForm">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-3">
                <label class="label-custom" for="float-input-numPicking">Número de picking: </label>
                <div class="p-inputgroup">
                  <input id="float-input-numPicking" type="text" placeholder="Número de picking" maxlength="50" size="50" formControlName="numPicking" autocomplete="off" required pInputText [readOnly]="true">
                </div>
                <div *ngIf="modeloForm.controls['numPicking'].errors && modeloForm.controls['numPicking'].dirty">
                  <p-message severity="error" text="El número de picking es requerido." *ngIf="modeloForm.controls['numPicking'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label class="label-custom" for="float-input-fecPicking">Fecha de picking: </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-fecPicking" placeholder="Fecha de picking" formControlName="fecPicking" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloForm.controls['fecPicking'].errors && modeloForm.controls['fecPicking'].dirty">
                  <p-message severity="error" text="La fecha de picking es requerido." *ngIf="modeloForm.controls['fecPicking'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label class="label-custom" for="float-input-tipoPicking">Tipo de picking: </label>
                <p-dropdown id="float-input-tipoPicking" [options]="listTipoPicking" class="ui dropdown-item-text" placeholder="Seleccionar el Tipo de Picking" formControlName="tipoPicking" [required] optionLabel="nomTipoPicking" [showClear]="true" (onChange)="getListDocumento()"></p-dropdown>
                <div *ngIf="modeloForm.controls['tipoPicking'].errors && modeloForm.controls['tipoPicking'].dirty">
                  <p-message severity="error" text="El tipo de picking es requerido." *ngIf="modeloForm.controls['tipoPicking'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label class="label-custom" for="float-input-estado">Estado: </label>
                <p-dropdown id="float-input-estado" [options]="listEstado" class="ui dropdown-item-text" placeholder="Seleccionar el Estado" formControlName="estado" [required] optionLabel="nomEstado" [showClear]="true"></p-dropdown>
                <div *ngIf="modeloForm.controls['estado'].errors && modeloForm.controls['estado'].dirty">
                  <p-message severity="error" text="El estado es requerido." *ngIf="modeloForm.controls['estado'].errors['required']"></p-message>
                </div>
              </div>

              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-cardCode">Código de cliente: </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardCode" type="text" placeholder="Código de cliente" maxlength="50" size="50" formControlName="cardCode" autocomplete="off" required pInputText [readOnly]="true">
                  <button [disabled] = "true" pButton type="button" icon="{{globalConstants.icoBuscar}}" (click)="onClickShowModalCliente()"></button>
                </div>
                <div *ngIf="modeloForm.controls['cardCode'].errors && modeloForm.controls['cardCode'].dirty">
                  <p-message severity="error" text="El código de cliente es requerido." *ngIf="modeloForm.controls['cardCode'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-licTradNum">RUC: </label>
                <div class="p-inputgroup">
                  <input id="float-input-licTradNum" type="text" placeholder="RUC" maxlength="15" size="50" formControlName="licTradNum" autocomplete="off" required pInputText [readOnly]="true">
                </div>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-cardName">Razón Social o Nombre: </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardName" type="text" placeholder="Razón Social o Nombre" maxlength="100" size="50" formControlName="cardName" autocomplete="off" required pInputText [readOnly]="true">
                </div>
              </div>

              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-comentarios">Comentarios: </label>
                <div class="p-inputgroup">
                  <textarea formControlName="comentarios" autocomplete="off" pInputText placeholder="Comentarios" maxlength="10000" rows="2"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloFormItem">
            <div class="grid p-fluid">
              <div class="col-12 md:col-3">
                <p-dropdown id="float-input-ordenVenta" [options]="listOrdenVenta" [filter]="true" class="ui dropdown-item-text" placeholder="Seleccionar la Orden de venta" formControlName="ordenVenta" [required] optionLabel="docNum" [showClear]="true"></p-dropdown>
                <!-- <div *ngIf="modeloFormItem.controls['ordenVenta'].errors && modeloFormItem.controls['ordenVenta'].dirty">
                  <p-message severity="error" text="La órden de venta es requerido." *ngIf="modeloFormItem.controls['ordenVenta'].errors['required']"></p-message>
                </div> -->
              </div>
              <div class="col-12 md:col-3">
                <p-dropdown id="float-input-almacen" [options]="listAlmacen" [filter]="true" class="ui dropdown-item-text" placeholder="Seleccionar el Almacén" formControlName="almacen" [required] optionLabel="whsName" [showClear]="true"></p-dropdown>
                <!-- <div *ngIf="modeloFormItem.controls['almacen'].errors && modeloFormItem.controls['almacen'].dirty">
                  <p-message severity="error" text="El almacén es requerido." *ngIf="modeloFormItem.controls['almacen'].errors['required']"></p-message>
                </div> -->
              </div>
              <div class="col-12 md:col-3">
                <input id="float-input-barCode" type="text" placeholder="Código de barra" maxlength="100" size="50" formControlName="barCode" autocomplete="off" required pInputText (keyup.enter)="onClickAddItem()">
                <!-- <div *ngIf="modeloFormItem.controls['barCode'].errors && modeloFormItem.controls['barCode'].dirty">
                  <p-message severity="error" text="El código de barra es requerido." *ngIf="modeloFormItem.controls['barCode'].errors['required']"></p-message>
                </div> -->
              </div>
              <div class="col-12 md:col-3">
                <button [disabled]="buttonAcces.btnAgregar || !modeloFormItem.valid" pButton type="button" label="{{globalConstants.cAgregar}}" icon="{{globalConstants.icoAgregar}}" (click)="onClickAddItem()"></button>
              </div>
            </div>
          </form>
          <p-table
            [value]="listPickingItemGrilla"
            [columns]="columnasItem"
            dataKey="docEntry"
            editMode="row"
            [autoLayout]="true"
            [responsive]="true"
            [showCurrentPageReport]="true"
            styleClass="{{globalConstants.cStyleTableGridLines}}"
            currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
            [rowHover]="true">
            <!-- Header -->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" class="custom-header">
                  {{col.header}}
                </th>
                <th colspan="2" class="custom-header">Acciones</th>
              </tr>
            </ng-template>
            <!-- body -->
            <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
              <tr class="ui-selectable-row">
                <td class="p-fluid">
                  <span class="p-column-title">Código: </span> {{modelo.itemCode}}
                </td>
                <td class="p-fluid">
                    <span class="p-column-title">Descripción: </span> {{modelo.dscription}}
                </td>
                <td class="custom-td-3">
                  <span class="p-column-title">Número: </span> {{modelo.docNum}}
                </td>
                <td class="custom-td-3">
                  <span class="p-column-title">UM: </span> {{modelo.unitMsr}}
                </td>
                <td class="custom-td-numero">
                  <span class="p-column-title">Cantidad: </span> {{modelo.quantity | number: '.2':'en-EN'}}
                </td>
                <td class="custom-td-numero">
                  <span class="p-column-title">Peso: </span> {{modelo.peso | number: '.2':'en-EN'}}
                </td>
                <td class="custom-td-2">
                  <button [disabled]="buttonAcces.btnVizualizar" pButton icon="{{globalConstants.icoVizualizar}}" class="{{globalConstants.cStyleButtonHelp}}" (click)="onToRowSelectedItemShow(modelo)"></button>
                </td>
                <td class="custom-td-2">
                  <button [disabled]="true" pButton icon="{{globalConstants.icoEliminar}}" class="{{globalConstants.cStyleButtonDanger}}" (click)="onToRowSelectedItemDelete(modelo)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">{{globalConstants.currentTableEmptyMessage}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <button pButton type="submit" [disabled]="true" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="back()" class="{{globalConstants.cStyleButtonDanger}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<!-- MODAL: Cliente -->
<p-dialog #Father header="Cliente" [(visible)]="isDisplayCliente" [closable]="true" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [draggable]="false">
  <p-panel header="Opciones de búsqueda" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="modeloFormCliente">
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <input id="float-input-cliente-filtro" type="text" pInputText placeholder="Buscar por Código, Nombre o RUC" maxlength="50" size="50" formControlName="filtro" autocomplete="off">
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickBuscarCliente()"></button>
        </div>
      </div>
    </form>
  </p-panel>
  <p-panel header="Lista de cliente" [toggleable]="true" [style]="{'margin-bottom':'5px'}">
    <p-table
    [value]="listCliente"
    [(selection)]="selectedCliente"
    [columns]="columnasCliente"
    [autoLayout]="true"
    selectionMode="single"
    [responsive]="true"
    [rows]="5"
    [paginator]="true"
    dataKey="cardCode"
    [showCurrentPageReport]="true"
    styleClass="{{globalConstants.cStyleTableGridLines}}"
    currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
    [rowHover]="true">
    <!-- Header -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
          {{col.header}}
        </th>
        <th class="custom-header">Acciones</th>
      </tr>
    </ng-template>
    <!-- body -->
    <ng-template pTemplate="body" let-modelo let-editing="editing">
      <tr class="ui-selectable-row" [pSelectableRow]="modelo">
        <td class="p-fluid" (dblclick)="onClickRowCliente(modelo)">
          <span class="p-column-title">Código: </span> {{modelo.cardCode}}
        </td>
        <td class="p-fluid" (dblclick)="onClickRowCliente(modelo)">
          <span class="p-column-title">Nombre: </span> {{modelo.cardName}}
        </td>
        <td class="p-fluid" (dblclick)="onClickRowCliente(modelo)">
          <span class="p-column-title">RUC: </span> {{modelo.licTradNum}}
        </td>
        <td class="custom-td-2">
          <button pButton icon="{{globalConstants.icoAceptar}}" class="{{globalConstants.cStyleButtonSuccess}}" (click)="onClickRowCliente(modelo)"></button>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </p-panel>

  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cAceptar}}" icon="{{globalConstants.icoAceptar}}" styleClass="p-button-text" (onClick)="onClickAceptModalCliente()"></p-button>
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-text" (onClick)="onClickCloseModalCliente()"></p-button>
  </ng-template>
</p-dialog>


<!-- MODAL: BarCode -->
<p-dialog #Father header="Código de Barra" [(visible)]="displayBarCode" [closable]="true" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [draggable]="false">
  <p-panel header="Opciones de búsqueda" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="modeloFormBarCode">
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <input id="float-input-barcode-filtro" type="text" pInputText placeholder="Buscar por código de barra" maxlength="50" size="50" formControlName="filtro" autocomplete="off">
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickBuscarCliente()"></button>
        </div>
      </div>
    </form>
  </p-panel>
  <p-panel header="Lista de código de barra" [toggleable]="true" [style]="{'margin-bottom':'5px'}">
    <p-table
    [value]="listPickingBarCode"
    [(selection)]="selectedPickingBarCode"
    [columns]="columnasBarCode"
    [autoLayout]="true"
    selectionMode="single"
    [responsive]="true"
    [rows]="5"
    [paginator]="true"
    dataKey="barCode"
    [showCurrentPageReport]="true"
    styleClass="{{globalConstants.cStyleTableGridLines}}"
    currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
    [rowHover]="true">
    <!-- Header -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
          {{col.header}}
        </th>
        <th class="custom-header">Acciones</th>
      </tr>
    </ng-template>
    <!-- body -->
    <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
      <tr class="ui-selectable-row" [pSelectableRow]="modelo">
        <td class="p-fluid">
          <span class="p-column-title">Código: </span> {{modelo.itemCode}}
        </td>
        <td class="p-fluid">
          <span class="p-column-title">Descripción: </span> {{modelo.dscription}}
        </td>
        <td class="p-fluid">
          <span class="p-column-title">Código de Barra: </span> {{modelo.barCode}}
        </td>
        <td class="custom-td-numero">
          <span class="p-column-title">Peso: </span> {{modelo.peso | number: '.2':'en-EN'}}
        </td>
        <td class="custom-td-2">
          <button [disabled]="true" pButton icon="{{globalConstants.icoEliminar}}" class="{{globalConstants.cStyleButtonDanger}}" (click)="onToRowSelectedBarCodeDelete(modelo)"></button>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </p-panel>

  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-text" (onClick)="onClickCloseModalBarCode()"></p-button>
  </ng-template>
</p-dialog>

<!-- MODAL: Proceso -->
<app-panel-guardar [isDisplay]="isDisplay"></app-panel-guardar>
