/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system

/* Layout */

@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */

@import "../node_modules/prismjs/themes/prism-coy.css";

/* Quill Text Editor for p-editor */

@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
.row-new-edit {
    background-color: var(--primary-100) !important;
}

.row-distinct-edit {
    color: red !important;
}

.custom-header {
    text-align: center!important;
}

.row-total {
    background-color: var(--primary-100) !important;
    font-weight: bold !important;
}

.custom-td-checkbox {
    text-align: center!important;
    width: 2em!important;
}

.custom-td-1 {
    text-align: center!important;
    width: 2em!important;
}

.custom-td-2 {
    text-align: center !important;
    width: 4em !important;
}

.custom-td-3 {
    text-align: center!important;
    width: 6em!important;
}

.custom-td-4 {
    text-align: center!important;
    width: 8em!important;
}

.custom-td-5 {
    text-align: center!important;
    width: 10em!important;
}

.custom-td-5-left {
    text-align: left!important;
    width: 10em!important;
}

.custom-td-6 {
    text-align: center!important;
    width: 12em!important;
}

.custom-td-6-left {
    text-align: left!important;
    width: 12em!important;
}

.custom-td-7 {
  text-align: center!important;
  width: 16em!important;
}

.custom-td-8 {
  text-align: center!important;
  width: 18em!important;
}

.custom-td-10 {
    text-align: left;
    width: 20em;
}

.custom-td-15 {
    text-align: left;
    width: 30em;
}

.custom-td-fecha {
    text-align: center!important;
    width: 10em!important;
}

.custom-td-fecha-larga {
    text-align: center!important;
    width: 12em!important;
}

.custom-td-description {
    text-align: left!important;
    width: 20em!important;
}

.custom-td-numero {
    text-align: right!important;
    width: 10em!important;
}

.fibrafil-button {
    .ui-splitbutton {
        margin-top: 1.4em !important;
    }
    margin-top: 1.4em !important;
}

.fibrafil-center-checkbox {
    padding-top: 1.5em !important;
}

/* Estilos para el item del estado*/

@mixin label-estado {
  display: block;
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 6px 12px;
  border-radius: 10px;
}

table {
  .label {
    @include label-estado();
  }
}

